@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  /* Scrollbar width */
  .custom-scrollbar::-webkit-scrollbar {
    width: 15px;
  }

  /* Scrollbar track */
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #fffeff;
    border: 1px solid #d9b3ff;
    border-radius: 10px;
  }

  /* Scrollbar thumb */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e7d0fcf7;
    border-radius: 10px;
    margin: 5px;
  }

  /* On hover */
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #d8b5f9;
  }
}

@keyframes checkerboard {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

.checkerboard {
  background: linear-gradient(45deg, #f1d2ff 25%, transparent 25%),
    linear-gradient(-45deg, #f4e5fb 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #f1d2ff 75%),
    linear-gradient(-45deg, transparent 75%, #f4e5fb 75%);
  background-size: 45px 45px;
  animation: checkerboard 5s;
}
